body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    color:  #66BFBF;
    font-size: 73px; 
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    color:  #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p{
    line-height: 2;
}

hr{
    border: dotted #d0f7f7 7px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

a {
    color: #0c6b6e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.images-row img {
    height: 200px;
    width: 200px;
    padding: 0px 10px 0px 10px;
}

.project {
    color: #11999E;
    justify-content: center;

}

.project img {
    height: 200px;
    width: 350px;
    border: 1px solid black;
}

.project h3:hover{
    color: #0c6b6e;
}

a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color: #DCFFB7;
    position: relative;
    padding-top: 100px;
}

.heading{
    font-weight: normal;
}

.justify{
    text-align: justify;
    text-justify: inter-word;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.middle-container{
    margin: 100px 0;
}

.images {
    width: 200px;
    height: 200px;
}

.kar{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.gif-image{
    width: 25%;
    float: left;
    margin-right: 25px;
}

.chillies-image{
    width: 25%;
    float: right;
    margin-left: 25px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.copyright {
    color: #c4f1f1;
    font-size: 0.75rem;
    padding: 20px 0;
}

.intro{
    width: 40%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.contact-message{
    width: 50%;
    margin: 40px auto 60px auto ;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
 }
 
 .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -moz-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -ms-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -o-linear-gradient(top, #30E3CB, #3D94F6);
    background-image: -webkit-gradient(to bottom, #30E3CB, #3D94F6);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }
